body {
    width: 100%;
    text-align: center;
    background-color: darkslateblue;
}

@media(max-width: 600px) {
    .hide {
        display: none;
    }
}

canvas {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid #000000;
}

h1 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    background-color: green;
    padding: 10px;
}

footer {
    margin-top: auto;
}